.main-inner-wrapper.single
{
    display: grid;
    grid-template-columns: 70% 1fr;
    gap: 2rem;

    @media screen and (max-width: 1024px)
    {
        gap: 0;
        grid-template-columns: 1fr;
    }

    .post-single
    {
        .article-header
        {
            margin-top: 10px;
            display: grid;
            margin-bottom: 25px;
            padding: 15px;
            border-radius: 10px;
            background-color: var(--background-secondary);
            box-shadow: 1px 1px 3px var(--shadow-color);
            
            .title
            {
                font-size: 42px;
                font-weight: bold;
            }

            .decription
            {
                margin-bottom: 10px;
                font-size: var(--font-size-sm);
                font-weight: bold;
                color: var(--article-description-color);
            }
            
            .post-info-date
            {
                // display: inline-flex;
                display: inline-flex;
                gap: 20px;
                font-size: var(--font-size-sm);
                font-weight: bold;
                // color: var(--article-description-color);
                
                @media screen and (max-width: 768px)
                {
                    display: grid;
                    gap: 0;
                }

                svg
                {
                    stroke-width: 3;
                    width: var(--font-size-sm);
                    height: var(--font-size-sm);
                    align-self: center;
                }

                .post-info-creation-date
                {
                    display: inline-flex;
                    gap: 5px;
                }

                .post-info-last-mod
                {
                    display: inline-flex;
                    gap: 5px;
                }
            }

            .reading-time
            {
                display: inline-flex;
                gap: 5px;
                font-size: var(--font-size-sm);
                font-weight: bold;
                // color: var(--article-description-color);
                
                svg
                {
                    stroke-width: 3;
                    width: var(--font-size-sm);
                    height: var(--font-size-sm);
                    align-self: center;
                }
            }
        }

        .article-content
        {
            padding: 15px;
            margin-bottom: 450px;
            // background-color: var(--background-secondary);

            // Compute correct width
            width: calc(((100vw * 85 / 100 - 40px) * 70 / 100));
        
            @media screen and (max-width: 1220px)
            {
                width: calc(100vw - 40px);
            }
            
            // Add space to bottom of the article
            // margin-bottom: 300px;
        
            // Article text size
            font-size: var(--font-size-sm);
            color: var(--text-normal);
        
            // Hr style
            hr
            {
                margin: 25px 0px;
                border: 1px solid var(--text-normal);
                opacity: .5;
            }
        
            // Headings
            h1
            {
                font-size: var(--font-size-xlg);
            }
        
            h2
            {
                font-size: var(--font-size-lg);
            }
        
            h3
            {
                font-size: var(--font-size-m);
            }
        
            h4
            {
                font-size: var(--font-size-sm);
            }
        
            h5
            {
                font-size: var(--font-size-sm);
            }
        
            h6
            {
                font-size: var(--font-size-sm);
            }
        
            h1, h2, h3, h4, h5, h6
            {
                padding: 10px 0px 10px 0px;
                font-weight: bold;
            }
        
            h1:hover .anchor,
            h2:hover .anchor,
            h3:hover .anchor,
            h4:hover .anchor,
            h5:hover .anchor,
            h6:hover .anchor 
            {
                display: inline-flex;
                color: var(--text-normal);
                margin-inline-start: 8px;
                font-weight: 500;
                user-select: none;
                font-size: .75em;
            }
        
            // Paragraphs
            & > p
            {
                margin: 1.5em 0;
            }
        
            // Lists
            // Reset number list aligment
            ul 
            {
                margin-inline-start: 20px;
                
                li
                {
                    display: flexbox;
                    
                    .highlight
                    {
                        justify-self: start;
                        margin-top: 20px;
                        width: 100% !important;
                        margin: 10px 0px !important;
                    }
        
                    p
                    {
                        padding: 0px;
                    }
                }
            }
            
            // Reset number list aligment
            ol
            {
                margin-inline-start: 27.5px;
                
                li
                {
                    display: flexbox;
                    
                    .highlight
                    {
                        justify-self: start;
                        margin-top: 20px;
                        width: 100% !important;
                        margin: 0px 0px !important;
                    }
        
                    p
                    {
                        padding: 0px;
                    }
                }
            }
        
            // Code blocks
            pre 
            {
                overflow-x: auto;
                display: block;
                background-color: var(--pre-background-color);
                color: var(--pre-text-color);
                font-family: var(--code-font-family);
                line-height: 1.428571429;
                word-break: break-all;
                padding: var(--card-padding);
        
                // Keep codeblocks LTR
                [dir="rtl"] & 
                {
                    direction: ltr;
                }
                
                code 
                {
                    color: unset;
                    border: none;
                    background: none;
                    padding: 0;
                    font-family: "Cascadia" !important;
                    font-size: var(--font-size-xsm);
                    font-weight: bold;
                }
        
                &::-webkit-scrollbar 
                {
                    display: none;
                }
            }
        
            .highlight 
            {
                position: relative;
                padding: 15px;
                margin: 10px 0px;
                border-radius: 10px;
                background-color: var(--background-code-block);
                color: var(--text-syntax-highlight-color);
                
                &:hover 
                {
                    .copyCodeButton 
                    {
                        // opacity: 1;
                    }
                }
        
                // Keep codeblocks LTR
                [dir="rtl"] & 
                {
                    direction: ltr;
                }
                
                pre 
                {
                    margin: initial;
                    padding: 0;
                    margin: 0;
                    width: auto;
                }
            }
        
            .katex-display
            {
                display: block;
                overflow-x: auto;
                overflow-y: hidden;
        
                &::-webkit-scrollbar 
                {
                    display: none;
                }
            }
        }
    }

    aside
    {
        align-self: start;
        position: sticky;
        top: 50px;
        max-height: 100vh;
        overflow-y: scroll;
        
        &::-webkit-scrollbar 
        {
            display: none;
        }
    }
}