.background-svg
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 60%;
}

.background-svg svg
{
    width: 100%;
    height: 100%;
}

.blob 
{
    position: absolute;
    z-index: -1;
    width: 440px;
    height: 440px;

    @media screen and (max-width: 1024px)
    {
        width: 360px;
        height: 360px;
    }

    @media screen and (max-width: 768px)
    {
        display: none;
    }
}

[saved-theme="dark"] 
{
    // Blob svg gradient 
    --stop-color: #2D3339;

    .background-svg svg path
    {
        // fill: #141A21;
    }
}

[saved-theme="light"] 
{
    --stop-color: #ffffff;

    .background-svg svg path
    {
        // fill: #f1f6f9;
    }
}