.footer-inner-wrapper
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    padding: 20px 20px !important;
    color: var(--text-normal);
    font-weight: bold;

    .left
    {
        justify-self: start;
        align-self: center;
    }

    .right
    {
        justify-self: end;
        align-self: center;

        ul
        {
            display: flex;
            
            li
            {
                list-style: none;
                margin-left: 15px;

                cursor: pointer;

                a
                {
                    text-decoration: none;
                    color: var(--text-normal);
                    transition: var(--hover-transition);

                    svg
                    {
                        stroke-width: 3;
                    }

                    &:hover
                    {
                        color: var(--text-accent-hover);
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 768px)
    {
        grid-template-columns: 1fr;

        .left
        {
            justify-self: center;
        }

        .right
        {
            padding-top: 10px;
            justify-self: center;
        }
    }
}