.main-inner-wrapper.home
{
    .introduction
    {
        display: grid;
        grid-template-areas: 
        "about character";
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

        gap: 20px;

        min-height: calc(100vh - 80px);
        
        @media screen and (max-width: 1024px)
        {
            min-height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            align-self: start;
            justify-self: start;
            gap: 0;
        }

        .about
        {
            grid-area: about;
            justify-self: center;
            align-self: center;
            display: grid;
            justify-content: center;

            @media screen and (max-width: 1024px)
            {
                align-self: start;
                margin-top: 75px;
            }

            .subtitle
            {
                p
                {
                    font-size: var(--font-size-sm);
                    color: var(--text-normal);
                }
            }

            .title
            {
                h1
                {
                    font-size: var(--font-size-xlg);
                    color: var(--text-normal);

                    a
                    {
                        color: var(--text-accent);
                        font-weight: bold;
                        transition: all var(--hover-transition);
    
                        &:hover
                        {
                            color: var(--text-accent-hover);
                        }
                    }
                }
            }

            .info
            {
                p
                {
                    font-size: var(--font-size-sm);
                    color: var(--text-normal);
                    
                    span
                    {
                        font-weight: bold;
                    }
                    
                    a
                    {
                        color: var(--text-accent);
                        font-weight: bold;
                        transition: all var(--hover-transition);
    
                        &:hover
                        {
                            color: var(--text-accent-hover);
                        }
                    }
                }
            }
        }

        .character-interaction
        {
            width: 100%;
            max-height: calc(100vh - 80px);
    
            @media screen and (max-width: 1024px)
            {
                display: none;
            }
            
            background-image: url(/attachements/pattern.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
    
            canvas
            {
                // Set canvas dimensions
                width: 100%;
                height: 100%;
    
                // Remove transitions
                -webkit-transition: none !important;
                -moz-transition: none !important;
                -o-transition: none !important;
                transition: none !important;
            }
        }
    }

    .blog-info
    {
        display: grid;
        grid-template-columns: 1fr 35%;
        gap: 2rem;

        @media screen and (max-width: 1024px)
        {
            margin-top: 2rem;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 0;
        }

        .recently-published
        {
            margin-top: 1.5rem;
            .widget-title
            {
                .widget-icon
                {
                    color: #FF0878;
                }

                .title
                {
                    font-size: var(--font-size-lg);
                    font-weight: bold;
                    color: #FF0878;
                    margin-bottom: 1.5rem;
                }
            }

            .article-list
            {
                article.article-compact-card
                {
                    margin-bottom: 1.5rem;

                    .article-compact
                    {
                        a
                        {
                            text-decoration: none;
                            color: var(--text-normal);

                            .article-title
                            {
                                font-size: var(--font-size-lg);
                                font-weight: bold;
                                transition: all var(--hover-transition);
                            }

                            &:hover .article-title
                            {
                                color: var(--text-accent);
                            }

                            .article-description
                            {
                                font-size: var(--font-size-xsm);
                                color: var(--article-description-color);

                                p
                                {
                                    margin: .5rem 0rem;
                                }

                                span
                                {
                                    font-weight: bold;
                                    color: var(--article-info-color);
                                    font-size: var(--font-size-xxsm);
                                    text-transform: uppercase;
                                    display: inline-flex;

                                    .arrow-right-indicator
                                    {
                                        margin-left: 5px;
                                        color: var(--text-accent);
                                        transition: all var(--hover-transition);
                                        font-weight: bolder;
                                        opacity: 0;
                                    }

                                    &:hover .arrow-right-indicator
                                    {
                                        transform: translateX(5px);
                                    }
                                }
                            }

                            &:hover .article-description .arrow-right-indicator
                            {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .blog-widgets
        {

        }
    }
}