.loadingAnimation
{
    display: grid;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--background-primary);
    z-index: 99999;
}

.loadingAnimation lottie-player
{
    justify-self: center;
    align-self: center;
    
    @media screen and (max-width: 768px)
    {
        width: 250px !important;
        height: 250px !important;
    }
}