.loadingAnimation
{
    display: grid;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--background-primary);
    z-index: 99999;
}

.loadingAnimation lottie-player
{
    justify-self: center;
    align-self: center;
}