header
{
    height: 80px;
        
    @media screen and (max-width: 768px)
    {
        height: 60px;
    }

    .navbar
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        transition: all 300ms ease-in-out;

        .container
        {
            display: grid;
            grid-template-columns: auto 1fr auto;

            // Width
            width: 85%;
            max-width: 1536px;
            padding: 0px 20px;
            margin: 0 auto;
        
            @media screen and (max-width: 1220px)
            {
                width: 100%;
            }

            // Height
            height: 80px;
            
            transition: width .3s, height .3s, transform .3s;

            @media screen and (max-width: 768px)
            {
                height: 60px;
            }

            .logo
            {
                align-self: center;
                
                a
                {
                    padding: 10px 0px;
                    text-decoration: none;
                    color: var(--text-normal);
                    font-size: var(--font-size-xlg);
                    font-weight: bold;
                    align-self: center;
                    
                    span
                    {
                        color: var(--text-accent);
                    }
        
                    @media screen and (max-width: 768px)
                    {
                        font-size: var(--font-size-lg);
                    }
                }
            }
        
            .links
            {
                align-self: center;
                justify-self: end;
        
                ul
                {
                    display: flex;
        
                    li
                    {
                        list-style: none;
                        display: inline-flex;
                        margin-left: 15px;
        
                        a
                        {
                            display: inline-flex;
                            align-self: center;
                            font-weight: bold !important;
                            text-decoration: none;
                            color: var(--text-normal);
                            font-size: var(--font-size-xsm);
                            text-transform: uppercase;
                            transition: all var(--hover-transition);
        
                            svg
                            {
                                height: 1em;
                                width: 1em;
                                align-self: center;
                                stroke-width: 3;
        
                                &.mail-icon
                                {
                                    height: 1.05em;
                                    width: 1.05em;
                                }
                            }
        
                            p
                            {
                                margin-left: 5px;
                            }
        
                            &.active
                            {
                                color: var(--text-accent);
                            }
        
                            &:hover
                            {
                                color: var(--text-accent-hover);
                            }
                        }
                    }
                }
        
                @media screen and (max-width: 1024px)
                {
                    display: none;
                }
            }

            .actions
            {
                align-self: center;
                justify-self: end;
                // padding-left: 5px;
                
                ul
                {
                    display: flex;
        
                    li
                    {
                        display: grid;
                        list-style: none;
                        cursor: pointer;
                        padding-left: 15px;
                        
                        svg
                        {
                            stroke-width: 3;
                            align-self: center;
                        }
                        
                        &.togle-navbar-mobile
                        {
                            display: none;
                            
                            @media screen and (max-width: 1024px)
                            {
                                display: block;
                            }
                        }
        
                        .burger-menu
                        {
                            width: 40px;
                            height: 40px;
            
                            button
                            {
                                background: none;
                                color: inherit;
                                border: none;
                                padding: 0;
                                font: inherit;
                                cursor: pointer;
                                outline: inherit;
            
                                &.burger
                                {
                                    position: relative;
                                    z-index: 1000 !important;
                                    background-color: transparent;
                                    border: none;
                                    cursor: pointer;
                                    display: flex;
                                    padding: 0;
            
                                    .line
                                    {
                                        fill: none;
                                        stroke: var(--text-normal);
                                        stroke-width: 7;
                                        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                                        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                                    }
            
                                    .line1
                                    {
                                        stroke-dasharray: 60 207;
                                        stroke-width: 7;
                                    }
            
                                    .line2
                                    {
                                        stroke-dasharray: 60 60;
                                        stroke-width: 7;
                                    }
            
                                    .line3
                                    {
                                        stroke-dasharray: 60 207;
                                        stroke-width: 7;
                                    }
                                }
            
                                &.burger.opened
                                {
                                    .line1
                                    {
                                        stroke-dasharray: 90 207;
                                        stroke-dashoffset: -134;
                                        stroke-width: 7;
                                    }
            
                                    .line2
                                    {
                                        stroke-dasharray: 1 60;
                                        stroke-dashoffset: -30;
                                        stroke-width: 7;
                                    }
            
                                    .line3
                                    {
                                        stroke-dasharray: 90 207;
                                        stroke-dashoffset: -134;
                                        stroke-width: 7;
                                    }
                                }
        
                                svg
                                {
                                    stroke-width: 3;
                                }
                            }
                        }

                        .theme-toggle 
                        {
                            min-width: 24px;
                            height: 24px;
                            position: relative;
                            align-self: center;
                            
                            & > .toggle 
                            {
                                display: none;
                                box-sizing: border-box;
                            }
                          
                            & svg 
                            {
                                cursor: pointer;
                                opacity: 0;
                                position: absolute;
                                transition: opacity 0.1s ease;
                            }
                        }
                          
                        .toggle:checked ~ label 
                        {
                            & > #dayIcon 
                            {
                                opacity: 0;
                            }
                            & > #nightIcon 
                            {
                                opacity: 1;
                            }
                        }
                        
                        .toggle:not(:checked) ~ label 
                        {
                            & > #dayIcon 
                            {
                                opacity: 1;
                            }
                        
                            & > #nightIcon 
                            {
                                opacity: 0;
                            }
                        }
                        
                        [saved-theme="dark"] 
                        {
                            .theme-toggle 
                            {
                                & svg 
                                {
                                    fill: white;
                                }
                            }
                        }
                        
                        [saved-theme="light"] 
                        {
                            .theme-toggle 
                            {
                                & svg 
                                {
                                    fill: black;
                                }
                            }
                        }

                        .dropdown-language
                        {
                            align-self: center;
                        
                            button
                            {
                                padding: 0px;
                                margin: 0px;
                                border: none;
                                display: grid;
                                background-color: transparent;
                                cursor: pointer;
                        
                                svg
                                {
                                    color: var(--text-normal);
                                    pointer-events: fill !important;
                                }
                            }
                        
                            .dropdown-content 
                            {
                                display: none;
                                position: absolute;
                                overflow: auto;
                                z-index: 1;
                        
                                a
                                {
                                    font-weight: bold;
                                    display: flex;
                                    margin-top: 7.5px;
                                    color: var(--text-normal);
                                    
                                    transition: all var(--hover-transition);
                                    
                                    font-size: var(--font-size-xxsm);
                        
                                    text-transform: uppercase;
                                    text-decoration: none;
                        
                                    &:hover
                                    {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.scroll-down 
{
	.navbar
    {
		transform: translate3d(0, -100%, 0);
	}
}

.scroll-up 
{
	.navbar
    {   
        background-color: var(--background-seccondary);
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

        .container
        {
            height: 60px;
        }
	}
}

.menu-is-open 
{
	overflow: hidden;

	.navbar
    {
		filter: none;
	}
}