header
{
    height: 80px;
        
    @media screen and (max-width: 768px)
    {
        height: 60px;
    }

    .navbar.desktop
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        transition: all 300ms ease-in-out;

        .navbar-inner-wrapper
        {
            display: grid;
            grid-template-columns: auto 1fr auto;

            // Height
            height: 80px;
            
            transition: width .3s, height .3s, transform .3s;

            @media screen and (max-width: 768px)
            {
                height: 60px;
            }

            .logo
            {
                align-self: center;
                
                a
                {
                    padding: 10px 0px;
                    text-decoration: none;
                    color: var(--text-normal);
                    font-size: var(--font-size-xlg);
                    font-weight: bold;
                    align-self: center;
                    
                    span
                    {
                        color: var(--text-accent);
                    }
        
                    @media screen and (max-width: 768px)
                    {
                        font-size: var(--font-size-lg);
                    }
                }
            }
        
            .links
            {
                align-self: center;
                justify-self: end;
        
                ul
                {
                    display: flex;
        
                    li
                    {
                        list-style: none;
                        display: inline-flex;
                        margin-left: 15px;
        
                        a
                        {
                            display: inline-flex;
                            align-self: center;
                            font-weight: bold !important;
                            text-decoration: none;
                            color: var(--text-normal);
                            font-size: var(--font-size-xsm);
                            text-transform: uppercase;
                            transition: all var(--hover-transition);
        
                            svg
                            {
                                height: 1em;
                                width: 1em;
                                align-self: center;
                                stroke-width: 3;
        
                                &.mail-icon
                                {
                                    height: 1.05em;
                                    width: 1.05em;
                                }
                            }
        
                            p
                            {
                                margin-left: 5px;
                            }
        
                            &.active
                            {
                                color: var(--text-accent);
                            }
        
                            &:hover
                            {
                                color: var(--text-accent-hover);
                            }
                        }
                    }
                }
        
                @media screen and (max-width: 1024px)
                {
                    display: none;
                }
            }

            .actions
            {
                align-self: center;
                justify-self: end;
                // padding-left: 5px;
                
                ul
                {
                    display: flex;
        
                    li
                    {
                        display: grid;
                        list-style: none;
                        cursor: pointer;
                        padding-left: 15px;
                        
                        svg
                        {
                            stroke-width: 3;
                            align-self: center;
                        }
                        
                        &.togle-navbar-mobile
                        {
                            display: none;
                            
                            @media screen and (max-width: 1024px)
                            {
                                display: block;
                            }
                        }
        
                        .burger-menu
                        {
                            width: 40px;
                            height: 40px;
            
                            button
                            {
                                background: none;
                                color: inherit;
                                border: none;
                                padding: 0;
                                font: inherit;
                                cursor: pointer;
                                outline: inherit;
            
                                &.burger
                                {
                                    position: relative;
                                    background-color: transparent;
                                    border: none;
                                    cursor: pointer;
                                    display: flex;
                                    padding: 0;
            
                                    .line
                                    {
                                        fill: none;
                                        stroke: var(--text-normal);
                                        stroke-width: 7;
                                        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                                        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                                    }
            
                                    .line1
                                    {
                                        stroke-dasharray: 60 207;
                                        stroke-width: 7;
                                    }
            
                                    .line2
                                    {
                                        stroke-dasharray: 60 60;
                                        stroke-width: 7;
                                    }
            
                                    .line3
                                    {
                                        stroke-dasharray: 60 207;
                                        stroke-width: 7;
                                    }
                                }
            
                                &.burger.opened
                                {
                                    .line1
                                    {
                                        stroke-dasharray: 90 207;
                                        stroke-dashoffset: -134;
                                        stroke-width: 7;
                                    }
            
                                    .line2
                                    {
                                        stroke-dasharray: 1 60;
                                        stroke-dashoffset: -30;
                                        stroke-width: 7;
                                    }
            
                                    .line3
                                    {
                                        stroke-dasharray: 90 207;
                                        stroke-dashoffset: -134;
                                        stroke-width: 7;
                                    }
                                }
        
                                svg
                                {
                                    stroke-width: 3;
                                }
                            }
                        }

                        .theme-toggle 
                        {
                            min-width: 24px;
                            height: 24px;
                            position: relative;
                            align-self: center;
                            
                            & > .toggle 
                            {
                                display: none;
                                box-sizing: border-box;
                            }
                          
                            & svg 
                            {
                                cursor: pointer;
                                opacity: 0;
                                position: absolute;
                                transition: opacity 0.1s ease;
                            }
                        }
                          
                        .toggle:checked ~ label 
                        {
                            & > #dayIcon 
                            {
                                opacity: 0;
                            }
                            & > #nightIcon 
                            {
                                opacity: 1;
                            }
                        }
                        
                        .toggle:not(:checked) ~ label 
                        {
                            & > #dayIcon 
                            {
                                opacity: 1;
                            }
                        
                            & > #nightIcon 
                            {
                                opacity: 0;
                            }
                        }

                        .dropdown-language
                        {
                            align-self: center;
                        
                            button
                            {
                                padding: 0px;
                                margin: 0px;
                                border: none;
                                display: grid;
                                background-color: transparent;
                                cursor: pointer;
                        
                                svg
                                {
                                    color: var(--text-normal);
                                    pointer-events: fill !important;
                                }
                            }
                        
                            .dropdown-content 
                            {
                                display: none;
                                position: absolute;
                                // overflow: auto;
                                z-index: 1;

                                padding: 10px;
                                background-color: var(--background-secondary);
                                // top: 5px;
                                // left: 0;
                                // width: 100%;
                                border-radius: 4px;
                                // display: block;
                                // box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
                                z-index: 2;
                                // opacity: 0;
                                // pointer-events: none;
                                // transform: translateY(20px);
                                transition: all 200ms linear;
                                margin-top: 15px;
                                margin-left: -5px;
                                
                                ul
                                {
                                    display: block;
                                    
                                    li
                                    {
                                        padding: 0px;
                                    }

                                    li:last-child
                                    {
                                        margin-top: 5px;
                                    }
                                }

                                a
                                {
                                    font-weight: bold;
                                    display: flex;
                                    // margin-top: 7.5px;
                                    color: var(--text-normal);
                                    
                                    transition: all var(--hover-transition);
                                    
                                    font-size: var(--font-size-xxsm);
                        
                                    text-transform: uppercase;
                                    text-decoration: none;
                                    
                                    svg
                                    {
                                        margin-right: 5px;
                                    }

                                    &:hover
                                    {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar.mobile
    {
        display: none;
        
        @media screen and (max-width: 1024px)
        {
            display: block;
        }
    
        .links
        {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            text-align: center;
            background-color: var(--background-primary);
    
            opacity: 0;
            z-index: -1;
            visibility: hidden;
            transition: all .375s;
            overflow: hidden;
    
            &.is-open
            {
                opacity: 1;
                z-index: 100;
                visibility: visible;
    
                &::before
                {
                    transform: skew(-14deg) translateX(0);
                }
    
                a
                {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
    
            &::before
            {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: -15px;
                background-color: var(--background-secondary);
                transform-origin: 0 0;
                transform: skew(-14deg) translateX(-120%);
                transition: all .275s .1s;
            }
    
            ul
            {
                display: inline-flex;
                flex-direction: column;
        
                height: 100vh;
                height: -moz-available;          /* WebKit-based browsers will ignore this. */
                height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
                height: fill-available;
    
                align-items: flex-end;
                justify-content: center;
                transform: translateX(-18%) skew(-16deg);
    
                li
                {
                    display: block;
                    margin: .5rem 0;
                    text-align: right;
                    transform: skew(16deg);
                    transition: all .3s;
    
                    a
                    {
                        line-height: 24px;
                        text-decoration: none;
                        color: var(--text-normal);
                        transition: all var(--hover-transition);
                        opacity: 0;
                        transform: translateY(-10px);
                        display: inline-flex;
                        justify-content: center;
                        font-size: var(--font-size-xsm);
                        text-transform: uppercase;
                        font-weight: bold;
                        svg
                        {
                            padding-right: 5px;
                            align-self: center;
                            stroke-width: 3;
                        }
    
                        &.active
                        {
                            color: var(--text-accent);
                        }
                    }
    
                    &:nth-child(1) a
                    {
                        transition: all 275ms 175ms
                    }
    
                    &:nth-child(2) a
                    {
                        transition: all 275ms 225ms
                    }
    
                    &:nth-child(3) a
                    {
                        transition: all 275ms 275ms
                    }
    
                    &:nth-child(4) a
                    {
                        transition: all 275ms 325ms
                    }
    
                    &:nth-child(5) a
                    {
                        transition: all 275ms 375ms
                    }
                }
            }
        }
    }
}

.scroll-down 
{
	.navbar
    {
		transform: translate3d(0, -100%, 0);
	}
}

.scroll-up 
{
    header
    {
        .navbar
        {   
            background-color: var(--background-secondary);
            
            .navbar-inner-wrapper
            {
                height: 60px;
            }
        }
    }
}

// .menu-is-open 
// {
// 	overflow: hidden;

// 	.navbar
//     {
// 		filter: none;
// 	}
// }

// Helper
.show 
{
    display: block !important;
}

.dropdown-content
{
    background: #FFFFFF;
    border: 1px solid #252A31;
}

.dropdown-content:before, .dropdown-content:after 
{
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
}

.dropdown-content:before 
{
    left: 7px;
    border: 11px solid transparent;
    border-bottom-color: #252A31;
}

.dropdown-content:after 
{
    left: 8px;
    border: 10px solid transparent;
    border-bottom-color: var(--background-secondary);
}

[saved-theme="dark"] 
{
    .theme-toggle 
    {
        & svg 
        {
            color: white;
        }
    }
}

[saved-theme="light"] 
{
    .theme-toggle 
    {
        & svg 
        {
            color: black;
        }
    }
}