body
{
    background-color: var(--background-primary);
    font-family: var(--default-font);
    
    // Normalize font weight in safary
    -webkit-font-smoothing: subpixel-antialiased;
}

html
{
    scroll-behavior: smooth;
}