body
{
    // General body styles
    background-color: var(--background-primary);
    font-family: var(--default-font);
    
    // Normalize font weight in safary
    -webkit-font-smoothing: subpixel-antialiased;
}

html
{
    scroll-behavior: smooth;
}

.site-wrapper
{
    // Base grid layout
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0rem;
    
    height: 100%;

    // Width wrappers
    .main-wrapper
    {
        height: 100%;
    }
    
    .header-wrapper, .main-wrapper, .footer-wrapper
    {
        // Width
        width: 85%;
        max-width: 1536px;
        padding: 0px 20px;
        margin: 0 auto;
    
        @media screen and (max-width: 1220px)
        {
            width: 100%;
        }
    }
    
    header, main, footer
    {
        // ....
    }

    // Loading & resize transitions
    // transition: opacity 0.5s ease-out, width .3s, transform .3s;
    // opacity: 0;
    // display: none;
}