// Theme variables
// Dark theme variables
:root
{
    --background-primary: #0E141A;
    --background-seccondary: #13181F;
    --pattern-color: #272D34;
    --text-normal: #ffffff;
    --text-accent: #4C6EF5;
    --text-accent-hover: #F5D34C;
}

// Light theme variables
[saved-theme="light"]
{
    --background-primary: #FFFFFF;
    --background-seccondary: #F1F6F9;
    --pattern-color: #767C82;
    --text-normal: #000000;
    --text-accent: #4C6EF5;
    --text-accent-hover: #F5D34C;
}

// Transitions
:root
{
    --hover-transition: 0.25s;
}

// Typography
:root
{
    // Default font
    --default-font: "Wotfard";

    // Font sizes
    --font-size-xxsm: 14px;
    --font-size-xsm: 16px;
    --font-size-sm: 18px;
    --font-size-m: 20px;
    --font-size-lg: 24px;
    --font-size-xlg: 28px;
    --font-size-xxlg: 32px;
}

// Shadow layouts
:root
{
}