// Theme variables
// Dark theme variables
:root
{
    --background-primary: #0E141A;
    --background-secondary: #13181F;
    --background-code-block: rgb(27, 32, 37);
    --pattern-color: #272D34;
    --text-normal: #FFFFFF;
    --text-accent: #4C6EF5;
    --text-accent-hover: #F5D34C;
    --text-syntax-highlight-color: #FFFFFF;
    --article-description-color: #b6bfcb;

    --hint-color-info: #6bf;
    --hint-color-warning: #fd6;
    --hint-color-danger: #f66;
}

// Light theme variables
[saved-theme="light"]
{
    --background-primary: #FFFFFF;
    --background-secondary: #F1F6F9;
    --background-code-block: #F5F6F9;
    --pattern-color: #767C82;
    --text-normal: #000000;
    --text-accent: #4C6EF5;
    --text-accent-hover: #F5D34C;
    --text-syntax-highlight-color: #2A2A2A;
    --article-description-color: #000000;

    --hint-color-info: #6bf;
    --hint-color-warning: #fd6;
    --hint-color-danger: #f66;
}

// Transitions
:root
{
    --hover-transition: 0.25s;
}

// Typography
:root
{
    // Default font
    --default-font: "Wotfard";

    // Font sizes
    --font-size-xxsm: 14px;
    --font-size-xsm: 16px;
    --font-size-sm: 18px;
    --font-size-m: 20px;
    --font-size-lg: 24px;
    --font-size-xlg: 28px;
    --font-size-xxlg: 32px;
}

// Shadow layouts
:root
{
}