{{/*  Footer section  */}}
<footer id="footer">
    <div class="footer-inner-wrapper max-width-wrapper">
        <div class="left">© 2022, Magnum Opus.</div>
        <div class="right">
            {{/*  List socal media links  */}}
            <ul>
                {{ range .Site.Params.socialMedia.general }}
                    <li>
                        <a href="{{ .url }}">{{ partial "helper/icon" .icon }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</footer>

{{/*  Includes  */}}
{{/*  Main js script  */}}
{{ $index := resources.Get "js/index.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $index.RelPermalink }}" {{ template "integrity" $index }}></script>