{{/*  Metadata  */}}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google" content="notranslate" />
<meta name="color-scheme" content="dark light">

{{/*  Page Title  */}}
<title>Magnum Opus</title>

{{/*  Styles  */}}
{{ $styles := resources.Get "styles/styles.scss" | resources.ExecuteAsTemplate "styles.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" {{ template "integrity" $styles }}>

{{/*  Integrity  */}}
{{ define "integrity" }}
    {{ if (urls.Parse .Permalink).Host }}
        integrity="{{ .Data.Integrity }}" crossorigin="anonymous"
    {{ end }}
{{ end }}

{{/*  Scripts  */}}
{{/*  External libraries  */}}
{{/*  Lottie player  */}}
{{ $lottiePlayer := resources.Get "./js/lottie-player.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $lottiePlayer.RelPermalink }}" {{ template "integrity" $lottiePlayer }}></script>
