<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
    <head>
        {{ partial "head.html" . }}
    </head>
    <style>
        body.error-404
        {
            display: grid;
        }
        body.error-404 lottie-player
        {
            justify-self: center;
            align-self: center;
        }
    </style>
    <body id="body" class="error-404">
        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_suhe7qtm.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    </body>
</html>