{{/*  Define the blob animation that is displaied on the home page.  */}}
{{ define "blob-animation" }}
    {{ partial "helper/blobBackgroundAnimation.html" . }}
{{ end }}

{{/*  Main content of home page.  */}}
{{ define "main" }}
    <main id="main">
        <div class="main-inner-wrapper max-width-wrapper home">
            <div class="introduction">
                <div class="about">
                    {{ partial "data/about.html" . }}
                </div>
                <div id="container" class="character-interaction">
                    {{ partial "data/character.html" . }}
                </div>
            </div>
            <div class="blog-info">
                <div class="recently-published">
                    <div class="widget-title">
                        <div class="widget-icon">{{ partial "helper/icon" "clock" }}</div>
                        <div class="title">RECENTLY PUBLISHED</div>
                    </div>
                    <div class="article-list">
                        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.posts }}
                        {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
                        {{ $filtered := ($pages | intersect $notHidden) }}
                        {{ range $index, $element := $filtered }}
                            {{ partial "article/compact.html" . }}
                        {{ end }}
                    </div>
                </div>
                <aside class="blog-widgets">
                </aside>
            </div>
        </div>
    </main>
{{ end }}